@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: AOTFont;
   src: url(../fonts/Ditty.ttf);
}

body {
   min-height: 100vh;
   font-family: "Bebas Neue", sans-serif;
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: #294023;
   color: #fffc;
   gap: 2rem;
}

header {
   padding: 2rem 0;
   text-align: center;
   font-family: "AOTFont";
   font-size: 2rem;
}

main {
   display: flex;
   justify-content: center;
}

.buttons-container {
   background-color: #403535;
   margin-top: 5rem;
   max-width: 500px;
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
   gap: 3rem;
   border-radius: 5px;
}

footer {
   margin-top: auto;
}

button:not(.card) {
   background-color: #c62828;
}

button {
   color: #fff;
   font-family: "Bebas Neue", sans-serif;
   padding: 1rem 2rem;
   font-size: 1.5rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
