.game-instruction-text {
   font-size: 1.5rem;
   text-align: center;
   color: #ffdf00;
}

.difficulty-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}

.difficulty-options {
   display: flex;
   gap: 1rem;
}

.select-difficulty-text {
   font-size: 1.5rem;
}

.difficulty-option-btn {
   font-size: 1.1rem;
}

.difficulty-option-btn:hover {
   animation: pulsating 500ms alternate infinite;
}

@keyframes pulsating {
   from {
      transform: scale(0.9);
   }

   to {
      transform: scale(1);
   }
}
